body {
    margin: 60px auto;
    width: 70%;
    background: linear-gradient(to left, #dae2f8, #d6a4a4);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: tan;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    width:70%;
    position: absolute;
    bottom:10px
}

.blurb {
    text-align: center;
}
#space {
    height: 100px;
}
#container {
    height: 500px;
}
#myButton {
    position: absolute;
    left: 300px;
}  
#container p {
    width:70px;
    height:70px;
    background-color: rgb(100,100, 255);
    border: solid 2px black;
    position: absolute;
}
