<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156486486-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156486486-1');
</script>

		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:conrad.bchiu@gmail.com">email</a></li>
        		<li><a href="https://github.com/conrad10100">github.com/conrad10100</a></li>
			</ul>
		</footer>
	</body>
</html>
